.main {
	/* background-color: red; */
	max-width: 1200px;
	margin: auto;
	padding: 5vh 15px;
}

/* section {
	background-color: var(--whiteAphla25);
	border: 1px solid var(--whiteAphla40);
	min-height: 90vh;
	border-radius: 30px;
    backdrop-filter: var(--backdropFilterBlur);
} */

.home-section {
	display: flex;
	padding: 100px 0;
	justify-content: center;
}

.container {
	padding: 0 42px;
	width: 100%;
}

.row {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.home-text p {
	font-size: 18px;
}
.home-text h1 {
	font-size: 42px;
	text-transform: capitalize;
}
.home-text h2 {
	font-size: 22px;
	text-transform: capitalize;
	font-weight: 300;
	margin: 0 0 30px;
}

.home-text,
.home-img {
	width: 50%;
	padding: 16px;
}

.home-img .img-box {
	max-width: 360px;
	height: 360px;
	background-color: var(--whiteAphla25);
	border-radius: 50%;
	border: 8px solid var(--whiteAphla25);
	overflow: hidden;
	margin: auto;
}

img {
	max-width: 100%;
	vertical-align: middle;
}

.profileImage{
    /* background: url("./img/manish.png"); */
}

.home-img .img-box img {
	width: 100%;
	border-radius: 50%;
}

@media (max-width: 991px) {
	.container {
		padding: 0;
	}
	.home-text,
	.home-img {
		width: 100%;
        text-align: center;
    }
	.home-img{
        order: -1;
    }

    .home-img .img-box {
        max-width: 300px;
        max-height: 300px;
    }

    .home-text .btn{
        margin: 0 7px 15px;
    }
}
@media (max-width: 767px) {
}
@media (max-width: 575px) {
    .home-text h1{
        font-size: 30px;;
    }

    .home-text h2{
        font-size: 18px;;
    }

    .header .nav-inner ul li a {
        font-size: 35px;
    }
}
